@media (max-width: 353px) {
    header {
        padding-bottom: 7.5rem;
    }
}

@media (min-width: 354px) and (max-width: 419px) {
    header {
        padding-bottom: 5.5rem;
    }
}

@media (min-width: 420px) {
    header {
        padding-bottom: 3.5rem;
    }

}

p {
    font-family: 'Nunito', sans-serif;
}


.labeloption {
    display: none;
}

#ocultarsvg {
    display: none;
}

article {
    margin-top: 1rem;
}

#icono {
    height: 35px;
    width: 35px;
    float: left;
}

#boton1:hover {
    line-height: normal;
    font-size: 30px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #26ce00;
    border-radius: 50px;
}

#boton2:hover {
    line-height: normal;
    font-size: 30px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #ce0000;
    border-radius: 50px;
}

.myCanvas {
    border: 1px solid #000000;
    width: auto;
    height: auto;
    position: relative;
    background: rgba(240, 255, 105, 0.47);
}

footer #copyright {
    background-color: rgba(0, 0, 0, 0.2)
}