@media (min-width: 420px) {
    header {
        padding-bottom: 3.5rem;
    }

}

body {
    background: #abbaab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
    font-family: 'Nunito', sans-serif;
}

.labeloption {
    display: none;
}

#hidesvg {
    display: none;
}

article {
    margin-top: 1rem;
}

#icono {
    height: 35px;
    width: 35px;
    float: left;
}

#boton1 {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%)
}

#boton1 {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

#boton1:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

#boton2 {
    background-image: linear-gradient(to right, #C04848 0%, #480048 51%, #C04848 100%)
}

#boton2 {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

#boton2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    line-height: normal;
    font-size: 25px;
}

.myCanvas {
    margin: 5px auto;
    display: block;
    border: 1px solid #000000;
    width: 100%;
    height: 90%;
    position: relative;
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer #copyright {
    background-color: rgba(0, 0, 0, 0.2)
}

.imgcontainer {
    text-align: center;
    margin-left: 1.8rem;
    margin-right: 1.8rem
}

body img {
    max-width: 100%;
    height: auto
}

.cImportantBox {
    width: auto;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    background-image: -webkit-linear-gradient(-90deg, #fff 0%, #f5fcff 100%); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(180deg, #fff 0%, #f5fcff 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #d7edff;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    clear: both;
}

.cAuxBox {
    width: auto;
    padding: 1rem;
    margin: 3rem 1.8rem;
    position: relative;
    background-image: -webkit-linear-gradient(-90deg, #fbfff3 0%, #f0ffe7 100%); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(180deg, #fbfff3 0%, #f0ffe7 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #c7d0be;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    clear: both;
}

.alternative-font {
    color: #08c;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.2rem;
}

.equations {
    display: block;
    text-align: center;
    margin: 1em 0;
    font-size: 113.1%;
    position: relative;
    width: 100%;
    overflow: auto;
}

div a, p a {
    color: #08c;
    text-decoration: none
}

a:hover {
    color: #006da3;
    text-decoration: underline
}
