@media (max-width: 353px){
    header {
        padding-bottom: 9rem;
    }
}

@media (min-width:354px) and (max-width: 419px){
    header {
        padding-bottom: 7rem;
    }
}

@media (min-width:420px) {
    header{
        padding-bottom: 5rem;
    }

}

#ocultarsvg{
    display: none;
}

article{
    margin-top: 1rem;
}

#icono{
    height: 35px;
    width: 35px;
    float: left;
}

.wrapper {
    width:auto;
    height:300px;
    position: relative;
    border:1px solid #000000;
}